.restaurant-card{
    box-shadow: 1px 2px 2px 2px gainsboro;
    padding: 20px;
    border-radius: 10px;
    transition: transform .5s ease;
    text-decoration: none;
    color: black;
}
.restaurant-card:hover{
    transform: scale(1.1);
    background-color: white;
}
.restaurant-card img{
    box-shadow: gainsboro 4px 4px 4px;
    border-radius: 10px;
}