.add-restaurant-page{
    background-image: url(../../Images//addrastaurant-bg.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.add-restaurant-form-card{
    background: lightseagreen;
    border-radius: 10px;
}
.add-restaurant-form-card input{
    width: 100%;
    padding: 10px;
}
.activation-card{
    width: 100%;
    background-color: white;
}
.joinning-advantage-info-card{
    background-color: tomato;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
}